@import './base.scss';

.jojo-backtop {
  z-index: 1000;
  position: fixed;
  right: 80px;
  bottom: 50px;
  cursor: pointer;
  background: rgba(0, 0, 0, .6);
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  border-radius: $border-radius;
  padding: 1em;
  line-height: 1em;
  color: #ffffff;
}